/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/
/* ---- Base Rules ---- */
body {
    background-color: #fbfbfd;
    margin: 0;
    padding:0;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #1d1d1f;
    font-size: 12px;
    scroll-behavior: smooth;
    width: 100%;
}
nav {
    background:  none;
}
/* Typeography General*/
h1 {
    padding: 1em;
    margin: 0;
}
h2 {
    font-size: 3em;
    line-height: 1;
}
h2 span {
    font-weight: 400;
    font-size: .8em;
    font-style: inherit;
}
p {
    line-height: 1.6em;
}
blockquote {
    font-size: 1em;
    line-height: 1.3;
    font-style: italic;
}
blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}
span {
    font-style: italic;
    font-weight: bold;
}
.email {
    text-decoration: none;
    font-style: italic;
    color: #1d1d1f;
}
.email:hover {
    border-bottom: 1px solid #fa6a43;    
}
