/* Header Styles */
.main__hero {
    padding-top: 8em;
    display: flex;
    justify-content: center;
}
.main__hero img {
    width: 70%;
}
figcaption {
    font-style: italic;
    text-align: center;
    padding-top: 1em;
}
/* ---- Layout Rules ---- */
main {
    margin: 0 auto;
}
section {
    font-size: 1.5em;
}
/* Landing Container Styles */
.landing__container {
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-evenly;
    gap: 1em;    
    width: 80%;
    margin: 0 auto;  
    padding-top: 1em;
}
.landing__container img {
    width: 50%;
}
/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: #fa6a43;
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
section:nth-of-type(even) .landing__container::before {
    content: '';
    background: #fa6a43;
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: #fa6a43;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: #fa6a43;
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}
/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
.active {
    border-bottom: 1px solid #fa6a43;
    line-height: .3;
}
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}
section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}
section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}
/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}